/*---------------------------*/
/*   VARIABLES   */
/*---------------------------*/

$primary-color: #fafafa;
$secondary-color: #101010;
$terciary-color: #fdd405;
$dark-background: #4c4c4c;
$darknest-background: #2f2f2f;
$code-background: #3d3d3d;

/*---------------------------*/
/*   GLOBALS STYLES   */
/*---------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  transition: 0.3s ease all;

  &.dark {
    background-color: $darknest-background;
  }
}

/*---------------------------*/
/*   BODY   */
/*---------------------------*/

.header {
  display: flex;
  justify-content: end;
  margin: 2rem;
  padding: 2rem;

  .switch {
    background-color: $dark-background;
    border-radius: 10rem;
    border: none;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;

    &::after {
      content: "";
      display: block;
      width: 3rem;
      height: 3rem;
      position: absolute;
      background-color: $primary-color;
      top: 0;
      left: 0;
      transition: 0.5s ease all;
      right: unset;
      border-radius: 10rem;
      box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
    }

    &.active {
      background-color: $terciary-color;
      color: $secondary-color;
      &::after {
        right: 0;
        left: unset;
      }
    }

    span {
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      display: block;
      background: none;
      color: $primary-color;
    }
  }
}

.container {
  background-color: $primary-color;
  box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  color: $secondary-color;
  border-radius: 1rem;
  margin: auto;
  padding: 2rem;
  max-width: 120rem;
  transition: 0.3s ease all;

  body.dark & {
    background-color: $dark-background;
    color: $primary-color;
    box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(118, 118, 118, 0.2);

    hr {
      color: $primary-color;
    }
  }

  h1 {
    margin: 2.5rem;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }

  form,
  p {
    font-size: 2rem;
    line-height: 3rem;
    margin: 1.5rem;
  }

  button {
    padding: 0.3rem;
    cursor: pointer;
  }

  span {
    font-weight: 600;
  }

  pre {
    background-color: $code-background;
    color: $primary-color;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    overflow-x: auto;
  }

  .btn__showcode {
    display: flex;
    justify-content: center;

    button {
      font-size: 2rem;
      background: none;
      border: 0;
      padding: 1rem;

      i {
        margin: 1rem;
      }
    }
  }
}

/*---------------------------*/
/* ANIMACIONES EFECTOS HOVER */
/*---------------------------*/

/* Icon Up */

@-webkit-keyframes hvr-icon-up {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-up {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-up .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-up:hover .hvr-icon,
.hvr-icon-up:focus .hvr-icon,
.hvr-icon-up:active .hvr-icon {
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* Icon Down */

@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-down .hvr-icon2 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover .hvr-icon2,
.hvr-icon-down:focus .hvr-icon2,
.hvr-icon-down:active .hvr-icon2 {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
