* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, sans-serif;
}

.container {
  margin: 4rem;
}

.container h1 {
  margin: 2.5rem;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.container p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1.5rem;
}

.container button {
  padding: 0.3rem;
}
